.calender {
    
    table {
        th {
            color: black;
            font-weight: normal;
            
            &.is-active {
                color: white;
                background: #1fc8db;
           }
        }

        td {
            position: relative;

            &.is-first-episode {
                border-left: 4px solid $green;
            }

            &.is-watching {
                border-left: 4px solid $primary;
            }

            &.is-first-episode {
                background: $green;
                color: white;
            }

            &.is-first-episode.is-first-season {
                background: $red;
            }

            &.table-link:hover {
                color: $white;
                background: $primary !important;
            }
        }

        a {
            color: inherit;
            text-decoration: underline;
        }
    }
}
