
.poster {
    display: block;
    position: relative;
    padding: 0;
    border-radius: 0;

    img {
        display: inherit;
    }

    .poster-tag {
        margin-bottom: 10px;
        border-radius: 0;
        position: absolute;
        right: 0;
        top: 10%;

        &.is-premier {
            background: $red;
            color: $white;
        }

        &.is-returning {
            background: $orange;
            color: $white;
        }

        &.is-final {
            background: $green;
            color: $white;
        }

        &.is-tracking {
            background: $primary;
            color: $white;
        }
    }

    .poster-content {
        position: absolute;
        right: 0;
        bottom: 5%;

        .season-episode {
            margin-bottom: 20px;
            border-radius: 0;
            background: $primary;
            color: $white;
            padding: 4px 15px;
            font-size: 16px;
            font-weight: bold;
        }
    }
}
