.profile {
 
    .profile-image {
        position: relative;
        top: -100px;

        img {
            border-radius: 50%;
            border: 2px solid white;
            background: white;
        }

        @media screen and (max-width: $tablet){
            top: 0px;
        }
    }

    .serie h2 {
        font-size: 20px;
    }
}

