.profile {
 
    .profile-image {

        img {
            border-radius: 5px;
            background: white;
            width: 100%;
            max-width: 200px;
        }
    }

    .profile-info {
        margin-bottom: 2px;
        font-size: 14px;

        tr {
            text-transform: uppercase;
        }

        th {
            color: #69707a;
            font-weight: 500;
            width: 120px;
            font-size: 14px;
        }

        td {
            padding-left: 10px;
            color: #69707a;
            font-weight: 300;
            font-size: 14px;

            ul {
                margin: 0;
                margin-left: 15px;

                a {
                    color: #69707a;
                    font-weight: 300;
                    font-size: 12px;
                }
            }
        }
    }

    .serie {
        margin-bottom: 10px;
        overflow: hidden;
        
        img {
            max-width: 100px;
            min-height: 100%;
        }

        .content {
            padding: 10px;

            h2 {
                margin-bottom: 2px;
                font-size: 22px;
            }

            p {
                font-size: 14px;
            }

            a {
                text-decoration: none;
                border: none;
            }
        }
    }
}
