
.series {

    @media (max-width: 769px){
        padding: 0;
    }

    transition: background .4s;

    img {
        transition: opacity .5s;
    }

    .serie {
        position: relative;
        background: black;
        border: 1px solid #000;

        &,
        &.media,
        &.media img {
            height: 100%;
        }

        .subtitle {
            position: absolute;
            bottom: 20%;
            left: 0;
            padding: 5px 10px;
            background: $primary;
            color: white;
            font-size: 16px;
            transition: .4s all;
            font-weight: normal;
            transition: padding .3s ease-in;
        }

        &:hover .subtitle {
            padding-left: 20px;
        }

        .serie-footer {
            .button {
                border: none;
                background: black;
                width: 100%;
                border-radius: 0;
            }
        }

    }

    &.darken .serie:not(.selected) {
        img,
        .subtitle {
            opacity: 0.8 !important;
        }
    }
}

.episode {
    .serie-poster {
        position: relative;
        top: -150px;

        img {
            border: 2px solid white;
            background: white;
        }

        @media (max-width: $tablet){
            top: 0px;
        }

        button {
            width: 100%;
            margin-bottom: 10px;
        }
    }
}

.serie-fanart {
    position: relative;
    padding: 0 0 30% 0;
    overflow: hidden;

    img {
        position: absolute;
        top: 75%;
        left: 0;
        width: 100%;
        transform: translateY(-50%);
    }
}

.season-heading {
    padding-left: 25px;
    padding-bottom: 50px;
    margin: 0 0 0 25px;
    border-left: 2px solid $primary;
    position: relative;

    .click-catch {
        background: transparent;
        border-radius: 50%;
        content: "";
        display: block;
        position: absolute;
        left: -17px;
        width: 32px;
        height: 32px;
        box-sizing: border-box;
        z-index: 3;
    }

    &:before {
        background: $primary;
        color: $white;
        content: "\f00c";
        display: block;
        font-family: "FontAwesome";
        line-height: 32px;
        position: absolute;
        top: 0;
        left: -17px;
        text-align: center;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        box-sizing: border-box;
    }

}

.episode-entry {
    padding-left: 25px;
    padding-bottom: 15px;
    margin: 0 0 0 25px;
    border-left: 2px solid $primary;
    position: relative;

    &.is-last {
        border-left-color: transparent;
    }

    .click-catch {
        background: transparent;
        border-radius: 50%;
        content: "";
        display: block;
        position: absolute;
        left: -17px;
        width: 32px;
        height: 32px;
        box-sizing: border-box;
        z-index: 3;
    }

    &:before {
        background: $white;
        border: 7px solid $primary;
        border-radius: 50%;
        content: "";
        display: block;
        position: absolute;
        left: -17px;
        width: 32px;
        height: 32px;
        box-sizing: border-box;
    }

    &.is-watched:after {
        background: $primary;
        color: $white;
        content: "\f00c";
        display: block;
        font-family: "FontAwesome";
        line-height: 32px;
        position: absolute;
        top: 0;
        left: -17px;
        text-align: center;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        box-sizing: border-box;
    }

    &.is-not-aired {
        .click-catch {
            display:none;
        }

        &:before {
            border: none;
        }

        &:after {
            background: rgba($primary, 0.6);
            content: "";
            display: block;
            font-family: "FontAwesome";
            line-height: 32px;
            position: absolute;
            top: 0;
            left: -17px;
            text-align: center;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            box-sizing: border-box;
        }
    }

    .episode {
        box-shadow: 0 2px 3px rgba($black, 0.2);
        border: 0.25em solid #ffffff;
        border-radius: 3px;
        padding: 10px;

        a {
            position: relative;
            top: 3px;
            display: block;
            float: right;
            width: 40px;
            line-height: 2.5;
            text-align: center;
            color: #919FAF;

            .fa {
                vertical-align: middle;
            }
        }

        .date {
            float: left;
            padding: 0.125em 0.75em 0 0;
            margin-left: 0.25em;
            margin-right: 0.75em;
            font-weight: bold;
            text-align: center;
            border-right: 2px solid #919FAF;
        }

        .date .bottom,
        .date .top {
          display: block;
        }

        .date .bottom {
          font-size: 0.75em;
        }

        .date .top {
          margin-top: -2px;
          font-size: 1.3em;
        }

        h3 {
            font-weight: bold;
            margin-top: 3px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        p {
            font-size: 0.875em;
            color: #919FAF;
            -webkit-font-smoothing: antialiased;
            margin-right: 0.25em;
            padding-left: 0.1em;
            padding-right: 0.5em;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        &.is-not-aired .date {
            border-width: 0.25em;
            margin-right: 0.75em;
            padding-right: 0.625em;
            border-right-color: $danger;
        }
    }
}
