
.series {

    transition: background .4s;

    img {
        transition: opacity .5s;
    }

    .serie {
        position: relative;
        background: black;

        &,
        &.media,
        &.media img {
            height: 100%;
        }

        .subtitle {
            position: absolute;
            bottom: 10%;
            left: 0;
            padding: 5px 10px;
            background: $primary;
            color: white;
            font-size: 16px;
            transition: .4s all;
            font-weight: normal;
        }

    }

    &.darken .serie:not(.selected) {
        img,
        .subtitle {
            opacity: 0.4 !important;
        }

        img {
            filter: blur(2px);
        }
    }
}

