
body {
    font-family: 'Lato';
}

.container {
    width: 100%;
}

.fa-btn {
    margin-right: 6px;
}

.scroll-row {
    overflow: auto;
}

.table-responsive {
    width: 100%;
    overflow-x: auto;
}

.tabs-content .tab:not(.is-active) {
    display:none;
}

.section.small {
    padding-top: 10px;
    padding-bottom: 10px;
}

.is-paddingless {
    padding: 0;
}

.columns.is-gapless {
    margin: 0;
}

.fma a {
    color: darken($white, 5%) !important;

    &:hover {
        color: $white !important;
    }
}

footer .menu-list a {
    border-bottom: none !important;
}

@import 'partials/home';
@import 'partials/series';
@import 'partials/poster';
@import 'partials/video-player';
@import 'partials/banner';
@import 'partials/breadcrumbs';
@import 'partials/calender';
@import 'partials/seasons';
@import 'partials/profile';
