
body {
    font-family: 'Lato', sans-serif;
}

input[class="checkbox"] {
    vertical-align:bottom;
}

.container {
    width: 100%;
}

.container.is-fluid {
    margin: 0;
    padding: 0 10px;
}

.fa-btn {
    margin-right: 6px;
}

.scroll-row {
    overflow: auto;
}

.nav {
    z-index: initial;
}

.nav-menu {
    z-index: 3;
}

.table-responsive {
    width: 100%;
    overflow-x: auto;
}

.tabs-content .tab:not(.is-active) {
    display:none;
}

.section.small {
    padding-top: 10px;
    padding-bottom: 10px;
}

.columns.is-gapless {
    margin: 0;
}

.has-shadow {
    box-shadow: 0 2px 3px rgba($black, 0.1)
}

.landing-info {
    height: calc(100vh - 270px);
    min-height: 400px;
    background-size: 100% auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
    padding: 0;

    .landing-column {
        padding: 40px;
        background: white;
        height: 100%;
        width: 400px;
        box-shadow: 1px 0 4px #333;
    }
}

footer .menu-list a {
    border-bottom: none !important;
}

.is-paddingless {
    padding: 0 !important;
}

.hero.is-primary,
.hero.is-dark {
    .hero-head a {
        color: darken($white, 10%) !important;

        &:hover {
            color: $white !important;
        }
    }
}

#aside-label {
    display: none;
    padding: 20px;

    @media (max-width: $tablet){
        display: table;
    }
}

#aside-checkbox {
    display: none;

    @media (max-width: $tablet){
        & ~ aside {
            position: absolute;
            left: -100%;
            width: auto;
            transition: left .4s ease-in;
        }

        &:checked ~ aside {
            left: 0;
        }

        & ~ .push-content {
            position: relative;
            left: 0;
            transition: left .4s ease-in;
        }

        &:checked ~ .push-content {
            left: 180px;
        }
    }
}

@import 'partials/home';
@import 'partials/series';
@import 'partials/poster';
@import 'partials/video-player';
@import 'partials/banner';
@import 'partials/breadcrumbs';
@import 'partials/calender';
@import 'partials/seasons';
@import 'partials/profile';
